@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background:url(images/bg-pattern-desktop.svg), linear-gradient(hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 450px;
}

.mobile{
    display: none;
}

.half{
    width: 50%;
}

#left{
    display: flex;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;
}


.woman{
    position: relative;
    top: 0;
    left: -50px;
}


.box{
    position: absolute;
    top: 200px;
    left: -100px;
}

h1{
    margin-top: 40px;
}

.Part{
    color: hsl(240, 6%, 50%);
    padding: 20px;
    border-bottom: 1px solid;
    width: 100%;
}

.Part:hover{
    cursor: pointer;
}

.question{
    Font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.blackText{
    color: black;
}

.question img{
    width: 3%;
    height: 3%;
}

.content{
    padding: 20px;
}

.answer{
    Font-size: 12px;
    margin-top: 5px;
}

.arrow{
    transform: rotate(180deg);
  transition: 0.2s ease;
}

.hide{
    display: none;
}

@media all and (max-width:768px) {

    body{
        background:url(images/bg-pattern-mobile.svg), linear-gradient(hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    }

    .woman{
        display: none;
    }
    .mobile{
        display: block;
        width: 300px;
        margin-top: 20px;
    }

    .box{
        display: none;
    }

    main{
        width: 90%;
        height: 550px;
        margin-top: 150px;
        flex-direction: column;
    }
    .half{
        width: 100%;
    }

    #left{
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -70px;
    }

    #right{
        height: 85%;
        margin-top: 45px;
    }
    h1{
        text-align: center;
    }

    #questions{
        margin-top: 30px;
    }

  }

