#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.valid::after{
    content: "Please provide valid characters";
    color: $red;
}

input, button{
    padding: 15px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;  
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;    
    &:hover{
        cursor: pointer;
    }
}

.blank::before{
    content: "Cant be blank";
    color: $red;
}

input:focus{
    outline: none;
    border-image-source: linear-gradient($borderGradient);
    border-width: 2px;
    border-image-slice: 1;
    border-radius: 0px;
}

label{
    color: $darkViolet;
}

.inline{
    display: block;
}

#inputMonth{
    width: 20%;
}

#inputYear{
    width: 20%;
}

#inputCvc{
    width: 39%;
}

.cvc-label{
    margin-left: 15%;
}

.errorOutline{
    outline: 1px solid $red;
}