@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
$relative : relative;
$absolute : absolute;
$card-padding: 2rem;

@import './cards';
@import './form';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('');
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    display: grid;
    background-image: url('/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 25% 100%;
}

img {
    max-width: 100%;
    display: block;
  }

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}