@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
$relative : relative;
$absolute : absolute;
$card-padding: 2rem;
$red: red;
$borderGradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
$darkViolet: hsl(278, 68%, 11%); 
$violet: hsl(279, 6%, 55%);

@import './cards';
@import './form';
@import './complete';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('');
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    display: grid;
    background-image: url('/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 25% 100%;
}

img {
    max-width: 100%;
    display: block;
  }

.grid-container{
    background-image: linear-gradient();
    display: grid;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width:768px) {
    body{
        background-image: none;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 100%;
    }
}