@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.card-page {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.front-card,
.back-card {
  position: relative;
  color: white;
  width: 447px;
  height: 250px;
}

.back-card {
  margin-left: auto;
}

.front-card > *:not(.front-card-bg),
.back-card > *:not(.back-card-bg) {
  position: absolute;
}

.front-card-number {
  top: 55%;
  right: 2rem;
}

.front-card-name {
  bottom: 2rem;
  left: 2rem;
}

.front-card-logo {
  top: 2rem;
  left: 2rem;
}

.front-card-month {
  bottom: 2rem;
  right: 4rem;
}

.front-card-year {
  bottom: 2rem;
  right: 2.5rem;
}

.front-card-character {
  bottom: 2.1rem;
  right: 3.5rem;
}

.back-card-cvc {
  top: 44%;
  right: 4rem;
}

@media screen and (max-width: 768px) {
  .card-page {
    position: relative;
    height: 70vh;
    background-image: url("/images/bg-main-mobile.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
  }
  .card-page .front-card,
  .card-page .back-card {
    position: absolute;
  }
  .card-page .front-card {
    z-index: 1;
    top: 21%;
    left: 0;
  }
  .card-page .back-card {
    top: 0;
  }
}
#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
}

.valid::after {
  content: "Please provide valid characters";
  color: red;
}

input, button {
  padding: 15px;
  border: none;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: hsl(278, 68%, 11%);
  color: white;
}
button:hover {
  cursor: pointer;
}

.blank::before {
  content: "Cant be blank";
  color: red;
}

input:focus {
  outline: none;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-width: 2px;
  border-image-slice: 1;
  border-radius: 0px;
}

label {
  color: hsl(278, 68%, 11%);
}

.inline {
  display: block;
}

#inputMonth {
  width: 20%;
}

#inputYear {
  width: 20%;
}

#inputCvc {
  width: 39%;
}

.cvc-label {
  margin-left: 15%;
}

.errorOutline {
  outline: 1px solid red;
}

#complete-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
}
#complete-container > * {
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("");
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  display: grid;
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 25% 100%;
}

img {
  max-width: 100%;
  display: block;
}

.grid-container {
  background-image: linear-gradient();
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
  }
}/*# sourceMappingURL=style.css.map */