@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --btn-ios-color:hsl(171, 66%, 44%);
    --btn-mac-color:hsl(233, 100%, 69%);
    --header-text-color:hsl(210, 10%, 33%);
    --paragraph-text-color:hsl(201, 11%, 66%);

    --fs:1.125rem;
    --ff:'Bai Jamjuree', sans-serif;
}

/* START RESET */

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* END RESET */

  body{
    font-size: var(--fs);
    font-family: var(--ff);
}

header{
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 60%;
    display: grid;
    gap: 2rem;
}

header >*{
    margin: 0 auto;
    text-align: center;
}

