.footer{
    background-color: var(--dark-blue-clr);
    padding: 2rem 5rem;
    text-align: center;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width:45em){
        flex-direction: column;
        gap: 1rem;
    }

    .footer__grid{
        display: grid;
        gap: 2rem;
    }

    .flex-group__links{
        display: flex;
        gap: 1.5rem;

        svg{
            &:hover{
                fill: var(--lime-green);
            }
        }
    }

    .text{
        flex-basis: 25%;
        p{
            &:hover{
                color: var(--lime-green);
                cursor: pointer;
            }
        }
        :last-child{
            margin: 0 auto;
        }
    }

    .flex-group__item{
        display: grid;
        gap: .5rem;
    }
    
}