.primary-navigation{
    .nav__list{
        display: flex;
        gap: 2rem;
        font-weight: 400;
        padding: .5rem;
        >li{
            padding: .5rem;
            &:hover{
                color: black !important;
                border-bottom: 5px solid var(--lime-green);
                margin-bottom: -5px;
            }
        }
    }
}

.nav-mobile-toggle{
    display: none;
    border: none;
    background-color: transparent;
    background-image: url(/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    padding: 2rem;
}