:root{
    --ff:'Public Sans', sans-serif;

    --fs:1.125rem;

    --dark-blue-clr: hsl(233, 26%, 24%);
    --lime-green:hsl(136, 65%, 51%);
    --bright-cyan:hsl(192, 70%, 51%);

    --light-gray:hsl(0, 0%, 98%);
    --light-grayish-blue:hsl(220, 16%, 96%);
}
