@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --dark-magenta: hsl(300,43%, 22%);
    --soft-pink: hsl(333,80%,67%);
    --light-magenta:hsl(300,24%,96%);
    --dark-grayish-magenta: hsl(303,10%,53%);

    --ff:'League Spartan', sans-serif;
    --fw-400:400;
    --fw-500:500;
    --fw-700:700;

    --fs:15px;
}

