body{
    font-size: var(--fs);
    font-family: var(--ff);
    scroll-behavior: smooth;
}

@media(max-width:50em){
    main[data-overlay]>*,
    header[data-overlay]>.intro{
        opacity: 0.2;
    }
}
.gray{
    color: var(--gray);
}

.blue-clr{
    color: var(--main-blue);
}

.btn{
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--fw-500);
}

.nav-footer-btn{
    background-color: var(--main-red);
}

.feature-btn{
    background-color: var(--main-blue);
    &:hover{
        border: 1px solid var(--main-blue);
        color: var(--main-blue);
        background-color: transparent;
        margin: -1px;
    }
}

.flex{
    display: flex;
}

.light-black{
    color: var(--light-black);
    font-weight: var(--fw-500);
}