@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root{
    --ff:'Rubik', sans-serif;
    --fw-400:400;
    --fw-500:500;
    --fs:1.125rem;

    --main-blue:hsl(231, 69%, 60%);
    --main-red:hsl(0, 94%, 66%);
    --gray:hsl(229, 8%, 60% );
    --dark-blue:hsl(229, 31%, 21%);
}