.primary-header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    .header-image{
        margin: 2rem;
        width: 6rem;
        @media (max-width:885px) {
            flex-shrink: 0;
        }
    }
    .primary-navigation{
        display: flex;
        gap: 1.5rem;
        list-style: none;
        padding: 2rem;
        margin: 0;
        font-size: 18px;
        a{
            text-decoration: none;
            display: flex;
            color: var(--almost-black);
        }
        li{
            position: relative;
            a{
                color: var(--medium-gray);
                transition: 350ms;
                &:hover{
                    color: var(--almost-black);
                }
            }
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .open[data-visible="false"]{
                &::after{
                    content: "";
                    width: 10px;
                    height: 6px;
                    display: block;
                    background-image: url(/images/icon-arrow-down.svg);
                }
            }
            .open[data-visible="true"]{
                &::after{
                    content: "";
                    width: 10px;
                    height: 6px;
                    display: block;
                    background-image: url(/images/icon-arrow-up.svg);
                }
            }

            .nav-dropdown-content{
                top: 3rem;
                display: grid;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                gap: 1.5rem;
                padding: 1rem;
                border-radius: .75rem;
                background-color: white;
                @media (min-width:840px) {
                    position: absolute;
                }
                a{
                    gap: .5rem;
                }
            }
        }
        li > a{
            align-items: center;
            gap: .5rem;
            img{
                width: 10px;
                height: 6px;
            }
        }


        .buttons{
            display: flex;
            gap: 1rem;
            margin-left: auto;
            a{
                color: var(--medium-gray);
                padding: .2rem 2rem;
                max-height: 1.8rem;
                transition: 350ms;
                &:hover{
                    color: black;
                }
            }
            :last-child{
                border: 1px solid var(--almost-black);
                border-radius: .75rem;
            }
        }
    }
}

.nav-mobile-open{
    display: none;
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 28px;
    z-index: 9999;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    right: 2rem;
    top: 4rem;
    background-image:url(/images/icon-menu.svg);

    &[data-visible="true"]{
        background-image: url(/images/icon-close-menu.svg);
    }

}

@media (max-width:840px){


    .primary-navigation{
        background-color: white;
        position: fixed;
        inset: 0 0 0 40%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transition: 350ms all ease-in-out;
        transform: translateX(100%);    
        .buttons{
            flex-direction: column;
            margin: 0 auto;
        }
        &[data-visible="true"]{
            transform: translateX(0%);
        }

        .nav-dropdown-content{
            box-shadow: 0 !important;
            place-content: center;
            text-align: center;
        }
       li{
        .margin{
            margin-top: 4rem;
        }
       }
    }
    .nav-mobile-open{
        display: block;
    }
}
