*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

body{
    background-color: rgba(108, 122, 137, 0.5);
}

.primary-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.flex{
    display: flex; 
    gap: 1rem;
}

.primary-navigation{
    list-style: none;
    padding: 2rem;
    margin: 0;

    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(1rem);
}

.primary-navigation a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.primary-navigation a > span{
    font-weight: bold;
    margin-inline-end: 1rem;
}

.nav-mobile-open{
    display: none;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

@media (max-width:600px){
        .primary-navigation{
            position: fixed;
            inset: 0 0 0 30%;
            flex-direction: column;
            padding: min(30vh, 10rem) 2rem;
            transition: 350ms all ease-in-out;
            transform: translateX(100%);
        }

        .primary-navigation[data-visible="true"]{
            transform: translateX(0);
        }

        .nav-mobile-open{
            display: block;
            position: absolute;

            width: 32px;
            height: 18px;
            z-index: 1;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat;
            right: 2rem;
            background-image: url(/icon-hamburger.svg);
        }
}