.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    .nav__mobile-open-btn{
        display: none;
        &:hover{
            cursor: pointer;
        }
    }

    .nav__dropdown-containers{
        padding-left: 3rem;
        flex-grow: 1;
        .nav__dropdown{
            padding: .75rem;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            >a{
                font-weight: 600;
                &:hover{
                    text-decoration:underline ;
                }
            }
            .nav__dropdown-content{
                flex-grow: 1;
                position: absolute;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                top: 4rem;
                border-radius: 20px;
                height:12rem;
                padding: 1rem;
                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: grid;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
            .hide{
                display: none;
            }

            .show{
                display: block;
            }
        }
        .buttons-mobile{
            display: none;
        }
    }
}
.bg-btn{
    background-color: white;
    color: #dc5267 !important;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    transition: 250ms all linear;
    text-decoration: none;
    &:hover{
        color: white !important;
        background-color: #eb8494;;
    }
}


@media screen and (max-width:900px) {
    .nav{
        .buttons{
            :first-child{
                padding: 1rem 1rem 1rem 0;
            }
        }
    }
}

@media screen and (max-width:720px) {
    .nav{
        .nav__dropdown-containers,.buttons{
            display: none;
        }

        .nav__mobile-open-btn{
            display: block;
            position: relative;
            
        }

        .nav__mobile-containers{
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            position: absolute; 
            top: 3rem;
            left: 0;
            right: 0;
            height: 100vh;
            border-radius: 2rem;
            transition: all 0.5s ease-in;
            .nav__mobile-container{
                width: 80%;
                margin: 0 auto;
                height: vh;
                >*{
                    color: black !important;
                }
                .nav__mobile-dropdown-content{
                    color: red;
                    background-color: #939ba1;
                    width: 100%;
                    margin: auto;
                   text-align: center;
                }
            }
            .buttons-mobile{
                display: grid;
                justify-content: center;
                width: 80%;
                border-top: 1px solid gray;
                .bg-btn{
                    background-image:  linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                    color: white !important;
                }
                >a{
                    color: black;
                }
            }
        }
    }
}