@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#FirstContainer{
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    height: 380px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

.image{
    background-color: hsl(210, 19%, 11%);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center; 
}

img{
    width: 60%;
}

.Content{
    padding: 25px;
}

h2{
    margin-top: 25px;
}

.TextContent{
    margin-top: 25px;
    color: hsl(216, 12%, 54%);
    font-size: 15px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-top: 15px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(210, 19%, 11%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: hsl(216, 12%, 54%);
}

.buttonhover:hover{
    background-color:hsl(216, 12%, 54%);
    color: white;
    cursor: pointer;
}

.clicked{
    background-color: hsl(25, 97%, 53%);
    color: white;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 25px;
    border-radius: 50px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

button:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
    transition: 0.3s;
}


#SecondContainer{
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    height: 380px;
    border-radius: 15px;

    display: none;
    flex-direction: column;
    align-items: center;
}

.SubmitImage{
    margin-top: 30px;
}
#SecondContainer img {
    width: 100%;
}

p{
    font-size: 15px;
}

#choosen{
    margin-top: 25px;
    background-color:hsl(210, 19%, 11%);
    padding: 8px;
    border-radius: 45px;
    color: hsl(25, 97%, 53%);
}

.thanks{
    text-align: center;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    color:hsl(216, 12%, 54%) ;
}