@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --ff:"Kumbh Sans", sans-serif;
  --fw-400: 400;
  --fw-700:700;
  --orange: hsl(26, 100%, 55%);
  --pale-orange:hsl(25, 100%, 94%);
  --gray:hsl(220, 14%, 75%);
  --dark-gray:hsl(219, 9%, 45%);
  --dark-blue:hsl(220, 13%, 13%);
  --data-overlay-bg:hsl(0, 0%, 0%, 0.25);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

body {
  font-family: var(--ff);
}

.dark-gray {
  color: var(--dark-gray);
}

.gray {
  color: var(--gray);
}

.upper {
  text-transform: uppercase;
}

.orange {
  color: var(--orange);
}

.flex {
  display: flex;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin-inline: clamp(1rem, 5.5vw, 5rem);
  padding-block: 2rem;
  border-bottom: 1px solid var(--gray);
}
.primary-header .header__image--container {
  flex-shrink: 0;
}

@media (max-width: 45em) {
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--data-overlay-bg);
    z-index: 1;
  }
}
.primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.primary-navigation .nav__list--primary,
.primary-navigation .nav__list--secondary {
  gap: 1rem;
  align-items: center;
}
.primary-navigation .nav__list--secondary .nav__avatar {
  width: 3rem;
}

.nav__mobile-toggle {
  border: none;
  background-color: transparent;
  background-image: url(/images/icon-menu.svg);
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 0.75rem;
  z-index: 2;
}

.nav__mobile-toggle[data-expanded=true] {
  background-image: url(/images/icon-close.svg);
}

@media (max-width: 45em) {
  .nav__list--primary {
    position: fixed;
    inset: 0 35% 0 0;
    flex-direction: column;
    background-color: white;
    padding-top: 8rem;
    z-index: 1;
    transform: translateX(-100%);
    transition: 500ms all;
  }
  .nav__list--primary li {
    margin-right: auto;
  }
  .nav__list--primary li a {
    color: black;
    font-weight: var(--fw-700);
  }
  .nav__list--primary[data-visible=true] {
    transform: translateX(0%);
  }
  .nav__list--secondary {
    flex-grow: 1;
  }
  .nav__list--secondary li:nth-of-type(1) {
    margin-left: auto;
  }
  .nav__mobile-toggle {
    display: block;
  }
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main .big-image-container {
  position: relative;
  --arrow-padding: 1rem;
  --arrow-circle: 2.5rem;
}
main .big-image-container .big-image {
  display: none;
}
main .big-image-container .active {
  display: block;
}
main .big-image-container .arrow {
  position: absolute;
  background-color: white;
  height: var(--arrow-circle);
  width: var(--arrow-circle);
  display: grid;
  place-content: center;
  border-radius: 50%;
}
main .big-image-container .arrow-previous {
  top: 50%;
  left: var(--arrow-padding);
}
main .big-image-container .arrow-next {
  top: 50%;
  right: var(--arrow-padding);
}
main .text-content {
  padding: 2rem;
  --radius: 0.5rem;
}
main .text-content .firm-name {
  font-size: 1rem;
  padding-bottom: 1rem;
}
main .text-content .prices {
  padding-block: 1rem;
  gap: 1rem;
  align-items: center;
}
main .text-content .prices .og-price {
  margin-left: auto;
}
main .text-content .prices .actual-price {
  font-weight: var(--fw-700);
  font-size: 1.75rem;
}
main .text-content .prices .sale-value {
  padding: 0.25rem 0.5rem;
  background-color: var(--pale-orange);
  border-radius: var(--radius);
}
main .text-content .cart {
  flex-direction: column;
}
main .text-content .cart .product-number-container {
  width: 100%;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.05);
  border-radius: var(--radius);
  justify-content: space-between;
  padding: 1rem;
}
main .text-content .cart .product-number-container .remove-number {
  width: 12px;
  height: 4px;
}
main .text-content .cart .product-number-container .add-number {
  width: 12px;
  height: 12px;
}
main .text-content .add-to-cart--btn {
  width: 100%;
  background-color: var(--orange);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--radius);
  position: relative;
  text-align: center;
  color: white;
  font-weight: var(--fw-700);
}
main .text-content .add-to-cart--btn::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 22px;
  background-image: url(/images/icon-cart-add.svg);
  left: 2rem;
}

.small-image-container {
  display: none;
}

@media (min-width: 1101px) {
  .wrapper {
    display: flex;
    gap: 2rem;
    padding-inline: 6rem;
    margin: 5rem auto;
  }
  .wrapper .big-image-container {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .wrapper .text-content .product-name {
    font-size: 3rem;
  }
  .wrapper .text-content .product-desc {
    font-size: 1.25rem;
  }
  .wrapper .text-content .prices {
    flex-direction: column;
  }
  .wrapper .text-content .prices .og-price {
    margin-right: auto;
    margin-left: 0;
  }
  .wrapper .text-content .prices .actual-prices {
    margin-right: auto;
    gap: 1.5rem;
  }
  .wrapper .text-content .prices .actual-prices .sale-value {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 45em) {
  .small-image-container {
    display: flex !important;
    margin-top: 1rem;
    justify-content: space-between;
  }
  .small-image-container .img-s {
    width: 78.2222222222px;
    height: 78.2222222222px;
    border-radius: 0.5rem;
  }
  .small-image-container .active-s {
    border: 2px solid var(--orange);
    opacity: 0.5;
  }
  .cart {
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
  }
  .cart .add-to-cart--btn {
    margin-top: 0 !important;
    flex-basis: 65%;
  }
  .cart .product-number-container {
    flex-basis: 35%;
  }
}
@media (max-width: 1100px) and (min-width: 45em) {
  .images-container {
    padding: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .images-container .big-image {
    border-radius: 0.5rem;
    width: 50%;
    margin: 0 auto;
  }
}
#lightbox {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.35);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
#lightbox .active-l {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox .images-container {
  height: 100%;
  z-index: 9999;
}
#lightbox .big-image-container {
  display: grid;
  place-content: center;
  height: 100%;
  position: relative;
}
#lightbox .big-image-container .big-image {
  display: none;
  width: 500px;
  height: 500px;
}
#lightbox .big-image-container .active {
  display: block;
}
#lightbox .big-image-container .arrow {
  position: absolute;
  top: 50%;
  z-index: 9999;
  border-radius: 50%;
  background-color: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox .big-image-container .arrow-next-l {
  right: 10%;
}
#lightbox .big-image-container .arrow-previous-l {
  left: 10%;
}
#lightbox .small-image-container {
  margin-top: -7rem;
  justify-content: center;
  gap: 4rem;
}
@media (max-width: 1100px) {
  #lightbox .small-image-container {
    margin-top: -6.5rem !important;
  }
}

#lightbox[data-visible=true] {
  display: block;
}
@media (max-width: 45em) {
  #lightbox[data-visible=true] {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */